<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

  <servlet>
    <servlet-name>aggregator</servlet-name>
    <servlet-class>rocks.appconcept.rebtel.servlet.MainServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>aggregator</servlet-name>
    <url-pattern>/aggregator</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>mobile.html</welcome-file>
  </welcome-file-list>
</web-app>

